<style>
 body {
 background-color: rgba(0,0,0,0.1);
 color: #708090;
 font-size: 45px;
 font-family: impact;
 text-align: center;
 }

 a {
 color: #FFF;
 text-decoration: none;
 border-style: solid;
 border-radius: 12px;
 border-color: #FFF;
 background-color: rgba(0,0,0,0.10);
 }
 </style>


<h1>Welcome to Word Counters</h1>
<h3><a href='/newcounter/new'>Add New Word</a></h3>
