<h1>New Word</h1>
<form action="/newcounter" method="post">
    <label for="newWord">Add Your Word</label>
    <input id="newWord" name="newWord" type="text">
    <label for="newSentence">Add Your Sentence</label>
    <input id="newSentence" name="newSentence" type="text">
    <button type="submit">Submit</button>
  </form>
